<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Found New</title>
  <link rel="stylesheet" th:href="@{/css/app.css}"/>
</head>
<body class="container">
  <h1>Buluntu + Emanet Kaydı</h1>
  <a th:href="@{/}">← Home</a>

  <form method="post" th:action="@{/found/new}">
    <label>Title</label>
    <input id="foundTitle" name="title" type="text"/>

    <label>Description</label>
    <textarea id="foundDesc" name="description"></textarea>

    <label>Category</label>
    <input id="foundCategory" name="category" type="text" value="Cüzdan"/>

    <label>Location</label>
    <input id="foundLocation" name="location" type="text" value="Kampüs"/>

    <label>Date Found (YYYY-MM-DD)</label>
    <input id="foundDate" name="dateFound" type="text" value="2025-12-27"/>

    <label>Shelf Code</label>
    <input id="shelfCode" name="shelfCode" type="text" value="A-01"/>

    <button id="btnFoundCreate" type="submit">Create</button>

    <div class="msg err" th:if="${error}" th:text="${error}"></div>
  </form>
</body>
</html>
