<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Home</title>
  <link rel="stylesheet" th:href="@{/css/app.css}"/>
</head>
<body class="container">
  <h1>Dashboard</h1>
  <p>Welcome: <b th:text="${user.email}"></b> (<span th:text="${role}"></span>)</p>

  <div class="grid">
    <a id="linkLostNew" th:href="@{/lost/new}">Kayıp İlanı Oluştur</a>
    <a id="linkLostMy" th:href="@{/lost/my}">Kayıp İlanlarım</a>
    <a id="linkFoundList" th:href="@{/found/list}">Buluntu Listesi</a>

    <a id="linkFoundNew" th:if="${role=='STAFF' or role=='ADMIN'}" th:href="@{/found/new}">Buluntu + Emanet Al</a>
    <a id="linkAdminClaims" th:if="${role=='ADMIN'}" th:href="@{/admin/claims}">Admin - Claim Onay</a>
    <a id="linkStaffHandovers" th:if="${role=='STAFF' or role=='ADMIN'}" th:href="@{/staff/handovers}">Teslim Ekranı</a>
  </div>

  <form method="post" th:action="@{/logout}">
    <button id="btnLogout" type="submit">Logout</button>
  </form>
</body>
</html>
