<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>My Lost</title>
  <link rel="stylesheet" th:href="@{/css/app.css}"/>
</head>
<body class="container">
  <h1>Kayıp İlanlarım</h1>
  <a th:href="@{/}">← Home</a>

  <table>
    <thead><tr><th>ID</th><th>Title</th><th>Status</th><th>Location</th><th>Date</th></tr></thead>
    <tbody>
      <tr th:each="x: ${items}">
        <td th:text="${x.id}"></td>
        <td th:text="${x.title}"></td>
        <td th:text="${x.status}"></td>
        <td th:text="${x.location}"></td>
        <td th:text="${x.dateLost}"></td>
      </tr>
    </tbody>
  </table>
</body>
</html>
